<div class="form-signin" style="margin-top: 100px" >

  <!-- <div class="text-center mb-4">
    <img class="mb-4" src="assets/blue.svg" alt="" width="72" height="72">
  </div> -->

  <div *ngIf="message" class="alert alert-danger" role="alert">
    {{message}}
  </div>

  <h1 class="h4 mb-4 font-weight-normal">Preencha as informações:</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" [(ngModel)]="event.email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputTelefone" class="sr-only">Telefone</label>
  <input type="number" [(ngModel)]="event.phone" id="inputTelefone" class="form-control" placeholder="Telefone" required>

  <br>

  <button class="btn btn-lg btn-primary btn-block" (click)="send()" type="button">Enviar</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; Kimono Eventos 2018</p>

</div>
